
* {box-sizing: border-box;}
body {margin: 0;
font-family:'Roboto';} 
h1, h2, h3,h4{padding: 0 60px;
             margin-bottom: 12px;}
ul.topnav {
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

ul.topnav a{
float: left;
}
ul.topnav a{
display: inline;
color: aliceblue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
ul.topnav a:hover:not(.active) {background-color: #111;}
ul.topnav a:active{background-color: red;}
ul.topnav a:right {float: right;}
#video {margin:0 0px;width:100%; }
div.article,.file,.contact { padding: 30px ;
                            background-color: #570a8a;
                            border-bottom: #e5e5e5;
                            border-style: groove;





} 
.media {padding-left: o 200px;}
/* add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {width: 100%; height: auto;}
/* REMOVE MARGIN TO THE "PAGE CONTENT" ON SMALL SCREENS */
@media only screen and (max-width: 620px) {
.topnav, .a, .right, .media{ width: 100%;}
}